/.env
/*.env
/rails.env
/tmp/
/log/
/config/local.env
/env/rails.env
/vendor/bundle/
/coverage/
*.dump
*.sql
*.tar
*.tar.gz
*.tgz
*.backup
*.key
*.pem
*.p12
*.crt
*.csr
id_rsa
id_ed25519
known_hosts
backups/
postgres/
storage/
