RAILS_ENV=production
RAILS_LOG_TO_STDOUT=true
RAILS_LOG_LEVEL=info
RAILS_SERVE_STATIC_FILES=false

RAILS_MASTER_KEY=
SECRET_KEY_BASE=
DATABASE_URL=

FILE_STORAGE_ROOT=/mnt/external-hdd/mitsubachi/files
MAX_UPLOAD_SIZE_BYTES=10737418240

APP_HOST=192.168.1.50
FRONTEND_ORIGIN=http://192.168.1.50
FRONTEND_URL=http://192.168.1.50

SESSION_COOKIE_SECURE=false

RAILS_MAX_THREADS=5
WEB_CONCURRENCY=1
PORT=3001

RESEND_API_KEY=
MAIL_FROM=
